.admin {
  display: flex; /* Flexbox로 배치 */
  padding: 3% 2%;
  background-color: #f8f9fa; /* 상단 배경색 */
  justify-content: space-between;
  box-sizing: border-box; /* 모든 요소에 대해 패딩과 테두리를 포함 */
}

.admin-setting-container {
  width: 12%; /* SettingList의 너비 */
}

.admin-users {
  width: 87%;
  border: none;
}

#filter-text-box {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 0.5em;
  margin-bottom: 1%;
}

.ag-theme-quartz {
  font-family: 'pretendard-light' !important;
  color: rgba(0, 0, 0, 0.5);
}
