.admin-setting-container {
  width: 10%; /* SettingList의 너비 */
}

.admin-users {
  width: 90%;
  padding: 1% 1em;
  border: none;
}

#filter-text-box {
  padding: 0.8em;
  border: 1px solid rgb(231, 231, 231);
  border-radius: 10px;
}

.admin-users-table-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}

.actions-icon:hover {
  background-color: #2196f3 !important;
}
