.profilemain {
  display: grid;
  padding: 3% 10%;
  grid-template-columns: 1fr 4fr;
  gap: 5%;
  background-color: #f8f9fa;
  box-sizing: border-box;
}

.profile-setting-container,
.reserve-info {
  width: 100%;
}

.reserve-info-container {
  margin-top: 20px;
}

h2,
h3 {
  color: #333;
  font-weight: 600;
}

.reserve-card {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.reserve-card:hover {
  transform: scale(1.02);
}

.status-badge {
  padding: 5px 10px;
  border-radius: 12px;
  color: white;
  font-size: 0.9rem;
}

.status-badge.completed {
  background-color: #28a745;
}

.status-badge.pending {
  background-color: #ffc107;
}

.status-badge.cancelled {
  background-color: #dc3545;
}

.reserve-card-body {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  gap: 2%;
}

.reserve-card-body p {
  margin: 5px 0;
  font-size: 1rem;
  color: #555;
}

.reserve-card-image {
  width: 100%;
  border-radius: 15px;
  aspect-ratio: 1/1;
  height: 100%;
}

.reserve-card-image img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  overflow: hidden;
}

.no-reservations {
  color: #666;
  background-color: white;
  border-radius: 15px;
  padding: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.no-past {
  font-size: 1em;
  color: #666;
  text-align: center;
}

.loading,
.error {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 50px;
}

.reserve-info-title {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.reserve-card-contents-details {
  display: grid;
  grid-template-columns: 1fr 7fr;
  gap: 1em;
}

.reserve-card-contents-details-header {
  border-right: 1px solid lightgray;
}

.reserve-card-contents-details-header p {
  font-family: 'pretendard';
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}

.reserve-card-contents-roomname {
  margin-bottom: 0.5em;
}

.reserve-card-cancel {
  padding: 1em 1em 0 0;
  text-align: right;
}

.reserve-card-contents-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
}

.reserve-card-contents-user-details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
}

.reserve-card-contents-user-header p {
  font-family: 'pretendard';
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}

.reserve-card-contents-user-header {
  border-right: 1px solid lightgray;
}
