.profilemain {
  display: flex; /* Flexbox로 배치 */
  padding: 3% 10%;
  background-color: #f8f9fa; /* 상단 배경색 */
  justify-content: space-between;
}

.profile-setting-container {
  width: 23%; /* SettingList의 너비 */
}

.reserve-details {
  width: 75%; /* 예약 정보 섹션의 너비 */
  padding: 0 0 0 5%; /* 세부 정보 패딩 설정 */
}

.reserve-section {
  margin-top: 20px; /* 섹션 간격 */
}

.reserve-item {
  margin-bottom: 15px; /* 아이템 간격 */
}
