.hotel {
  padding: 1% 10%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hotel-image {
  height: 300px;
  overflow: hidden;
  border-radius: 15px;
  margin-bottom: 2%;
}

.hotel-room-card-header {
  display: flex;
  justify-content: space-between;
}

.hotel-image-content {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 0.3em;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.large-image {
  grid-column: span 2;
  grid-row: span 2;
  padding: 0;
}

.small-image {
  grid-column: span 1;
  grid-row: span 1;
  padding: 0;
}

.hotel-info-amenity,
.hotel-info-map-container {
  border: 1px solid rgb(231, 231, 231);
  border-radius: 15px;
  padding: 2%;
  position: relative; /* 부모 요소에 relative 위치 설정 */
}

.hotel-info-map-container {
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)),
    url('../../assets/Map.svg'); /* 그라데이션과 이미지 결합 */
  background-size: cover; /* 배경 이미지 크기 조정 */
}

.hotel-info-map {
  justify-content: space-between;
  display: flex;
}

.hotel-info-map-detail {
  height: 100%;
}

.hotel-image,
.hotel-title,
.hotel-room {
  margin: 2% 0%;
}

.hotel-image-contents {
  width: 100%;
  height: 100%;
  position: relative;
}

.hotel-image-contents img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.more-photos-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 20%;
  padding: 3%;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
}

.hotel-title-container {
  margin: 0 0 1% 0;
}

.hotel-title-detail {
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
  color: rgba(0, 0, 0, 1);
}

.hotel-info-map-container {
  border: 1px solid rgb(231, 231, 231);
  border-radius: 15px;
  padding: 2%;
  position: relative;
}

.hotel-room-card {
  border: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3%;
  margin-bottom: 10%;
}

.hotel-room-card-container {
  background-color: #f5f7fa;
  border-radius: 15px;
  padding: 3%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3%;
  align-items: stretch;
}

.hotel-room-card-img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 15px;
  aspect-ratio: 1 / 1;
  height: 100%;
}

.hotel-room-card-img img {
  width: 100%;
  height: 100%;
  margin: 0;
  object-fit: cover;
  border-radius: 15px;
}

.hotel-room-card-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.hotel-room-card-details {
  font-size: 0.9em;
  color: rgb(156, 154, 154);
  background-color: white;
  border: none;
  border-radius: 15px;
  padding: 5%;
}

.hotel-room-card-time {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3%;
  margin-bottom: 5%;
}

.hotel-room-card-end {
  margin: 1% 0%;
  display: flex;
  justify-content: space-between;
}

.hotel-room-card-detail-modal {
  color: #097ce6;
  font-size: 0.8em;
  display: flex;
  align-items: center;
}

.hotel-room-card-detail-modal:hover {
  cursor: pointer;
}

.more-photos-modal {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.more-photos-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.more-photos-overlay {
  font-size: 0.8em;
}