.accommo-card {
  overflow: hidden;
  background-color: white;
  max-width: 300px;
}

.accommo-image {
  width: 100%;
  height: 200px; /* 이미지 높이 */
  object-fit: cover; /* 이미지 비율 유지 */
  border-radius: 12px;
  margin-bottom: 1.1em;
}

.accommo-info {
  line-height: 1.5em;
}

.accommo-info h2 {
  margin: 8px 0;
  font-size: 18px;
}

.accommo-info p {
  color: #777;
  margin: 4px 0;
}
.accommo-addr {
  color: #777;
  font-weight: 300;
}
