@import './styles/font.css'; 

/* 모든 요소에 기본 폰트 적용 */
* {
    font-family: 'pretendard-bold', 'pretendard-black', 'pretendard-regular', Arial, sans-serif;  /* 기본 폰트 설정 */
    margin: 0;
    padding: 0; 
    box-sizing: border-box; /* 박스 모델 설정 */
}