/* font.css 파일을 import 합니다. */
@import './styles/font.css'; /* font.css의 경로를 올바르게 설정하세요. */

/* 모든 요소에 기본 폰트 적용 */
* {
    font-family: 'pretendard-bold', 'pretendard-regular', 'pretendard-light', Arial, sans-serif;  /* 기본 폰트 설정 */
    margin: 0; /* 기본 여백 제거 */
    padding: 0; /* 기본 패딩 제거 */
    box-sizing: border-box; /* 박스 모델 설정 */
}

/* 필요에 따라 추가적인 스타일을 여기에 작성 */
